arrow==0.15.5
beautifulsoup4==4.9.0
blessed==1.17.5
certifi==2020.4.5.1
chardet==3.0.4
Deprecated==1.2.9
Django==2.2.12
django-lazysignup==2.0.0
django-object-actions==2.0.0
django-picklefield==2.1.1
django-q==1.2.1
idna==2.9
Markdown==3.2.1
psycopg2==2.8.5
PyGithub==1.50
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.9
wcwidth==0.1.9
wrapt==1.12.1
