<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  {% endblock %}

  {% include 'header.html' %}

  <script>
    {% include 'js/theme.js' %}
  </script>

</head>

<body>
  {% include 'header-menu.html' %}

  <div class="container fullwdithcontainer">




    {% block section %}
    {% endblock %}

  </div>

  {% include 'footer.html' %}

  {% block foorter_script %}
  {% endblock %}




  <script>
    {% include 'js/theme.js' %}
  </script>


  {% block js_scripts %}
  {% endblock %}


  <script>
    var init_vue_app = function(){
      {% block init_vue_app %}
      {% endblock %}
    }
  </script>


  {% if PRODENV %}

    {% for  css_url in webpack_css %}
      <link rel="preload" as="style" href="/static/dist/{{css_url}}" onload="this.onload=null;this.rel='stylesheet'">
      <!-- <link rel="stylesheet" href="/static/dist/{{css_url}}" > -->
      <noscript>
        <link rel="stylesheet" href="/static/dist/{{css_url}}">
      </noscript>
    {% endfor %}

    {% for  js_url in webpack_js %}
      <script async type="text/javascript" src="/static/dist/{{js_url}}"></script>
    {% endfor %}

  {% else %}
  <script type="text/javascript" src="http://localhost:8080/js/chunk-vendors.js"></script>
  <script type="text/javascript" src="http://localhost:8080/js/app.js"></script>

  <link href="http://localhost:8080/css/app.css" rel="stylesheet">
  {% endif %}



  {% block vue %}
  {% endblock %}


</body>

</html>
