{% load custom_tags %}
{% vueApp 'base' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  {% endblock %}

  {% include 'header.html' %}

</head>

<body>
  {% include 'header-menu.html' %}

  <div class="container fullwdithcontainer">




    {% block section %}
    {% endblock %}

  </div>

  {% include 'footer.html' %}

  {% block foorter_script %}
  {% endblock %}




  <script>
    {% include 'js/theme.js' %}
  </script>

  <div id="components-demo">

  </div>

  <script type="text/javascript" src="http://localhost:8080/js/chunk-vendors.js"></script>
  <script type="text/javascript" src="http://localhost:8080/js/app.js"></script>
  <link href="http://localhost:8080/css/app.css" rel="stylesheet">


  <script type="text/javascript">
    test();
  </script>
<!--
  {% include 'js/vuejs_loader.js' %}

  {% for js_url in webpack_css %}

    <link rel="stylesheet" href="/static/dist/{{js_url}}" media="print" onload="this.media='all'; this.onload=null;">

  {% endfor %} -->


  {% block vue %}
  {% endblock %}


</body>

</html>
