{% load custom_tags %}
{% vueApp 'base' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  {% endblock %}

  {% include 'header.html' %}

  <!-- <link rel="stylesheet" href="/static/css/bulma/header2.min.css" type="text/css"> -->
  
</head>

<body>
  {% include 'header-menu.html' %}

  <div class="container fullwdithcontainer">




    {% block section %}
    {% endblock %}

  </div>

  {% include 'footer.html' %}

  {% block foorter_script %}
  {% endblock %}





  <link rel="stylesheet" href="/static/css/bulma/header2.min.css" media="print" onload="this.media='all'; this.onload=null;">


  <script>
    {
      % include 'js/theme.js' %
    }
  </script>


  {% include 'js/vuejs_loader.js' %}


  {% block vue %}
  {% endblock %}


</body>

</html>
