<div id="notifications-app">

</div>


<script>
  var notifications_app;
  window.addEventListener("load", function(event) {
    notifications_app = new Vue({
      el: '#notifications-app',
      delimiters: ['[%', '%]'],
      data: {
        notifications:[],
        id: 1,
      },
      methods:{
        del(index) {
          this.$delete(this.notifications, index)
        },
        create_alert(text){
          this.id = this.id + 1;
          var temp = {
            'text': text,
            'id': this.id,
          };
          this.notifications.push(temp);
          setTimeout(function(id, app){
            app.notifications.forEach(function(el, index){
              if(el.id==id){
                app.$delete(app.notifications, index);
              }
            });
          }, 1000, this.id, this);
        },
      },
      computed:{
        display_notifications: function (){
          if(this.notifications.length > 0){
            return null;
          }
          else{
            return 'none';
          }
        }
      },
    template: `
    <div class="notifications" v-bind:style="{display:display_notifications}">
      <div class="notification is-danger is-light" v-for="(n, index) in notifications">
        <button class="delete" v-on:click="del(index)"></button>
          [% n.text %]
      </div>
    </div>
        `,
      mounted:function(){
      },

    });
  });
</script>
