@charset "utf-8"

$navbar-height: 4rem
$navbar-item-img-max-height: 4rem
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.1), 0 0px 0 1px rgba(#363636, 0.4)

@import "node_modules/bulma/bulma.sass"
@import "node_modules/bulma-extensions/bulma-badge/src/sass/index.sass"
@import "./mobile-mixin.sass"

.c
  position: absolute
  height: 1px
  width: 1px
  overflow: hidden
  clip: rect(1px 1px 1px 1px)


html
  background-color: #23D160
  padding-top: 4rem

.columns, .columns:last-child
  margin: 0

.footer
  padding: 1rem 1.5rem 1rem


  .column
    padding: 0.5rem

  hr
    margin: 0
    margin-bottom: 0.5rem

  a
    overflow-wrap: break-word
    color: hsl(0, 0%, 21%)

  li
    a
      color: #1E50AE


.fullwdithcontainer
  padding: 0
  max-width: 100%


.fullwidthmobilesection
  padding: 0
  padding-bottom: 1rem


.title
  color: #1f1f1f

.subtitle
  color: #252525

.horizontalprodmainrow
  padding: 0
  margin-top: 10px

  .column
    padding: 0
    margin: 0 auto
    max-width: 100%


    .horizontalprodcards
      overflow-x: auto
      flex-wrap: nowrap
      max-width: 100%
      padding-bottom: 10px
      margin: 0
      margin-bottom: 10px !important

      .horizontalprodcolumn
        padding: 0

        &:last-child
          padding-right: 20px




      .card
        height: 280px
        width: 200px
        margin-left: 10px



        .card-footer
          border-top: 0px solid black

        .cardhead
          font-size: 16px
          font-weight: 600
          color: black
          padding-left: 10px
          padding-right: 10px

        .cardsubtitle
          font-size: 14px
          font-weight: 600
          color: #585858
          padding-left: 10px
          padding-right: 10px

+mobile
  .horizontalprodmainrow
    .column
      .horizontalprodcards

        .horizontalprodcolumn
          &:last-child
            padding-right: 10px

        .card
          width: 150px
          height: 220px

          .cardsubtitle
            font-size: 12px




.shopprodrow
  padding: 0
  margin: 0

  .prodcolumn
    padding: 5px 0px
    display: flex
    flex-wrap: wrap
    justify-content: flex-start


    .card
      width: 180px
      margin: 1%
      border-radius: 10px
      -webkit-mask-image: -webkit-radial-gradient(white, black)

      &.hidden
        visibility: hidden
        flex: auto



      .card-footer
        border-top: 0px solid black

        .card-footer-item
          padding: 0.4rem

          .button
            color: #000000
            box-shadow: 0 2px 2px -1px rgba(#000000, 0.4)

            &:hover
              box-shadow: 0 4px 4px -2px rgba(#000000, 0.6)
              -webkit-tap-highlight-color: transparent


          .price
            color: #c02843
            font-size: 1.2rem
            font-weight: 600

          &:not(:last-child)
            border-right: 0px solid black

      .cardhead
        font-size: 16px
        font-weight: 600
        color: black
        padding-left: 10px
        padding-right: 10px
        overflow: hidden
        white-space: nowrap


      .cardsubtitle
        font-size: 14px
        font-weight: 600
        color: #585858
        padding-left: 10px
        padding-right: 10px
        overflow: hidden
        white-space: nowrap


+mobile
  .shopprodrow
    .prodcolumn
      .card
        width: 162px
        margin: 8px 0px
        margin-left: calc(33.33% - 108px)

        .cardhead
          font-size: 14px
        .cardsubtitle
          font-size: 12px
        .button
          font-size: 0.6rem

+iphone_plus
  .shopprodrow
    .prodcolumn
      .card
        width: 180px
        margin: 8px 0px
        margin-left: calc(33.33% - 120px)


.shoppagesection
  .title
    margin-bottom: 0.5rem

  .shophead
    margin-top: 1rem

  .content
    padding: 0 1rem
    max-width: 700px
    margin: 0 auto
    color: black

    h2
      font-size: 1.2rem




hr
  background-color: rgba(0,0,0,0.1)
  margin: 0.5rem 0

.tile
  .is-5
    margin-bottom: 0.5rem
  .subtitle
    margin-bottom: 0



::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3)
	background-color:  rgba(0,0,0,0.01)
::-webkit-scrollbar
  width: 4px
  height: 4px
::-webkit-scrollbar-thumb
	background-color: rgba(0,0,0,0.2)
+mobile
  ::-webkit-scrollbar
    height: 0
