@charset "utf-8"

$navbar-height: 4rem
$navbar-item-img-max-height: 4rem


@import "bulma-0.8.1/bulma.sass"
@import "extension/bulma-badge.sass"

html
  background-color: #23D160

.footer
  padding: 1rem 1.5rem 1rem

  .column
    padding: 0.5rem

  hr
    margin: 0
    margin-bottom: 0.5rem

  a
    overflow-wrap: break-word




.fullwdithcontainer
  padding: 0
  max-width: 100%

.horizontalprodcards
  flex-wrap: nowrap
  overflow-x: scroll
  max-width: 100%
  padding-left: 15px
  padding-bottom: 10px


  .horizontalprodcolumn
    padding: 0



  .card
    height: 280px
    width: 200px
    margin-left: 15px

    .card-footer
      border-top: 0px solid black

    .cardhead
      font-size: 16px
      font-weight: 600
      color: black
      padding-left: 10px
      padding-right: 10px

    .cardsubtitle
      font-size: 14px
      font-weight: 600
      color: #808080
      padding-left: 10px
      padding-right: 10px


::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3)
	background-color:  rgba(0,0,0,0.01)

::-webkit-scrollbar
  width: 4px
  height: 10px




::-webkit-scrollbar-thumb
	background-color: rgba(0,0,0,0.2)


+mobile

  ::-webkit-scrollbar
    height: 0

  .fullwidthmobilesection
    padding: 0

  .navbar-menu

    .has-dropdown
      .navbar-dropdown
        display: none

    .is-active
      .navbar-dropdown
        display: block


  .horizontalprodcards
    .card
      width: 150px
      height: 220px

      .cardsubtitle
        font-size: 12px
