@charset "utf-8"

$navbar-height: 4rem
$navbar-item-img-max-height: 4rem


@import "bulma-0.8.1/bulma.sass"
@import "extension/bulma-badge.sass"

html
  background-color: #23D160

.footer
  padding: 1rem 1.5rem 1rem

  .column
    padding: 0.5rem

  hr
    margin: 0
    margin-bottom: 0.5rem

  a
    overflow-wrap: break-word




.fullwdithcontainer
  padding: 0
  max-width: 100%

.title.is-5
  margin-bottom: 0.5rem

.horizontalprodcards
  flex-wrap: nowrap
  overflow-x: auto
  max-width: 100%
  padding-left: 0px
  padding-right: 20px
  padding-bottom: 10px
  margin: 0
  margin-bottom: 10px !important
  justify-content: center

  .horizontalprodcolumn
    padding: 0





  .card
    height: 280px
    width: 200px
    margin-left: 10px


    .card-footer
      border-top: 0px solid black

    .cardhead
      font-size: 16px
      font-weight: 600
      color: black
      padding-left: 10px
      padding-right: 10px

    .cardsubtitle
      font-size: 14px
      font-weight: 600
      color: #808080
      padding-left: 10px
      padding-right: 10px



.horizontalprodphotos
  margin: 0
  padding: 0
  flex-wrap: nowrap
  overflow-x: auto
  background-color: #eaeaea
  scroll-snap-type: x mandatory
  margin-bottom: 0px !important


  .photocolumn
    margin: 0
    padding: 0
    scroll-snap-align: start


    img
      object-fit: contain
      height: 17rem


.prodpagecolumns
  margin: 0 !important
  padding: 0
  align-items: stretch

  .column
    padding: 0

    .productdescription
      height: 100%

      .hero-body
        display: flex
        justify-content: center
        align-items: center




.productdescription
  background-color: hsl(217, 71%, 33%)
  color: white

  .hero-body
    padding-top: 0.5rem
    padding-bottom: 0.7rem

    h1
      margin: 0
      color: white
      margin-bottom: 5px


    .variants
      .subtitle
        color: white
        margin: 0
        margin-top: 0.5rem
        text-align: center
      .buttons
        margin-top: 0.2rem

    .content
      margin: 0
    .content.is-medium
      font-size: 1rem

    .level
      margin: 0
      margin-top: 0.5rem

    .subtitle strong
      color: white

    .delinfo
      text-align: center
      font-size: 0.8rem
      margin-top: 5px


.tile

  .title

  .subtitle
    margin-bottom: 0


hr
  background-color: rgba(0,0,0,0.1)
  margin: 0.5rem 0

.navbar-logo
  width: 14rem
  margin: auto

#navSearch
  color: black

  ::placeholder
    color: rgba(0,0,0,0.4)

#navCart
  color: black
  padding: 5px 10px


#navbartabs
  margin: 0

  a
    border-color: #4a4a4a
    margin: 0px 0px
    background-color: white

  .is-active
    a
      background-color: hsl(348, 100%, 61%)



.prodblog
  font-size: 1rem

  .hero-body
    padding: 0.5rem 0.5rem
    color: #333333

    .container
      background-color: #fafafa
      padding: 0.5rem 1rem
      padding-bottom: 2rem

      .content
        table
          width: auto

          td, th
            border: 1px dashed hsl(217, 71%, 33%)

        .table.is-striped tbody tr:not(.is-selected):nth-child(odd)
          background-color: #d8f5ff

        .table.is-striped tbody tr:not(.is-selected):nth-child(even), th
          background-color: #fafafa

      h2
        font-size: 1.1rem

      h3
        font-size: 1rem
        margin-top: 1rem




.left-burger
  margin: 0
  width: 3rem

.left-search
  margin: 0
  position: relative
  width: 3rem

  svg
    top: calc(50% - 13px)
    left: calc(50% - 13px)
    position: absolute
    display: block

.right-search
  margin-left: auto


::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3)
	background-color:  rgba(0,0,0,0.01)

::-webkit-scrollbar
  width: 4px
  height: 10px

::-webkit-scrollbar-thumb
	background-color: rgba(0,0,0,0.2)


+mobile

  ::-webkit-scrollbar
    height: 0

  .fullwidthmobilesection
    padding: 0

  .navbar-menu

    .has-dropdown
      .navbar-dropdown
        display: none

    .is-active
      .navbar-dropdown
        display: block


  .horizontalprodcards
    justify-content: flex-start

    .horizontalprodcolumn
      &:last-child
        padding-right: 15px

    .card
      width: 150px
      height: 220px

      .cardsubtitle
        font-size: 12px
