@charset "utf-8"
$navbar-height: 7.25rem

@import "bulma-extensions/bulma-o-steps/bulma-steps.sass"

@import "bulma-0.7.1/bulma.sass"

@import "extension/bulma-badge.sass"



.navbar-item
  color: white !important

  img
    max-height: 116px

.navbar-dropdown
  .navbar-item
    color: #4a4a4a !important
    &:hover
      color: black !important


$cart-width: 300px
.cart
  left: calc(100% - #{$cart-width} )
  width: $cart-width
  top: calc(100% + (8px)) !important

  &:after
    content: ""
    width: 0
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-bottom: 8px solid #fff
    position: absolute
    top: -8px
    right: 10px

  article
    color: black !important
    margin-top: 2px !important
    padding-bottom: 2px
    padding-top: 5px !important

    .media-left
      margin-left: 10px
      padding: 10px 0px

    .media-right
      margin-right: 10px
      margin-top: 10px

    .media-content
      .level-left
        .increment
          height: 20px
          width: 20px
          font-size: 12px
          margin-right: 5px
          background-color: #F2F2F2 !important
      .cart_qty
        margin-right: 5px

  .subtotal
    padding-right: 10px
    padding-left: 10px

    .level-left, .level-right
      margin: auto auto

    strong
      margin-right: 5px



.mobile-sidenav
  height: 100%
  width: 0
  position: fixed
  z-index: 25
  top: 0
  left: 0
  background-color: #0e7e4f
  overflow-x: hidden
  padding-top: 80px
  transition: 0.2s

  a
    padding: 8px 8px 8px 32px
    text-decoration: none
    font-size: 20px
    color: #818181
    display: block
    transition: 0.3s
    width: 100%


.mobile-sidenav-active
  width: 200px


.myaccount
  margin-left: 15px
  transition: 0.3s

  a
    font-size: 15px !important


.myaccount-inactive
  height: 0
  transition: 0.3s
  display: none




.has-navbar-fixed-top
  padding-top: 116px !important

.navbar
  background-color: #23D160 !important

$mq-mobile-portrait		: 450px !default
$mq-mobile-landscape	: 480px !default
$mq-tablet-portrait		: 768px !default
$mq-tablet-landscape	: 1024px !default
$mq-desktop				: 1382px !default


@media only screen and (max-width : $mq-mobile-portrait)
  .has-navbar-fixed-top
      padding-top: 80px !important

  #head_app

    .navbar
      height: 80px !important
      min-height: 0
      background-color: #016b67 !important

      .container
        height: 80px !important
        min-height: 0


        .navbar-brand, .navbar-tabs
          height: 100%
          min-height: 0

        .navbar-burger
          height: auto
          width: 60px
          margin-left: 0

  .hero-body
    padding-top: 10px !important
