<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noobtronics Store Admin</title>
    <link rel="stylesheet" href="/static/js/select2/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/bulma/bulma-0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <script defer src="/static/css/fontawesome/js/all.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <script src="/static/js/axios/axios.js"></script>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/select2/js/select2.min.js"></script>
    <style>
        .displaybutton svg {
            margin-right: 10px;
        }
        .tabledivwidth{
            width: 100px
        }
        table th{
            border-width: 0 0 1px !important;
            font-weight:600 !important;
        }
        .tablebutton {
            width: 40px;
        }
        table thead {
            border-width: 0 0 1px !important;
            border: 1px solid #DBDBDB;
        }
        table {
            table-layout:fixed;
            width: auto;
            display: inline-block;
            white-space: nowrap;
        }

        .filterrow input{
            height: 20px;
        }
        .filterrow th{
            border-width: 0 0 0px !important;
        }

        .modal-background {
            background-color: rgba(10,10,10,.50);
        }

        .select2-selection--single {
            border: 1px solid #dbdbdb !important;
            box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
            height: 36px !important;
            font-size: 1em;
            padding-top: calc(.375em - 1px);
        }

        .productcard {
            height: 280px;
            width: 200px;
            display: inline-block;
            margin: 10px;
        }
        .productcard:hover {
            cursor: pointer;
        }
        .productcard .card-footer {
            border-top: 0px solid black;
        }
        .productcard .cardhead {
            font-size: 16px;
            font-weight: 600;
            color: black;
            padding-left: 10px;
            padding-right: 10px;
        }
        .productcard .cardsubtitle {
            font-size: 14px;
            font-weight: 600;
            color: #808080;
            padding-left: 10px;
            padding-right: 10px;
        }
        .productcard .cardprice {
            text-align: center;
        }

        .productcard .price {
            color: #c02843;
            font-size: 20px;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }

        .productcard .mrpprice {
            color: rgba(0, 0, 0, 0.6);
            margin-left: 10px;
            text-decoration: line-through;
            font-size: 17px;
        }

        .is-shady
        {
            box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
        }
    </style>

    <script>
        FontAwesomeConfig = { autoReplaceSvg: 'nest' }
    </script>
</head>
<body>
<section class="hero" id="app">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        Noobtronics Store Admin
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/admin/dump">
                            Backup
                        </a>
                        <a class="navbar-item" href="/logout">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="lds-dual-ring" v-if="loading"></div>
        <div class="container">
            <div class="columns">
            </div>
            <div class="columns">
                <div class="column is-one-fifth">
                    <aside class="menu">
                        <p class="menu-label">
                            Overview
                        </p>
                        <ul class="menu-list">
                            <li><a v-bind:class="{ 'is-active': selected=='Products'}" v-on:click="selected='Products'">Products</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-four-fifths">
                    <div class="columns displaybutton">
                        <div class="column is-half">
                            <a class="button is-link" v-on:click="open_prod_page()" v-if="selected=='Products' && itemselected > 0"><i class="fa fa-eye"></i>Product Page</a>
                            <a class="button is-link" v-on:click="open_demo_home()" v-if="selected=='Products' && itemselected > 0"><i class="fa fa-eye"></i>Home Page</a>
                        </div>
                        <div class="column is-half has-text-right">
                            <a class="button is-link" v-if="selected=='Products' && itemselected == 0"  v-on:click="show_add_modal=true"><i class="fa fa-plus"></i>Add</a>
                            <a class="button is-warning" v-if="itemselected > 0" v-on:click="show_add_to_home_modal=true"><i class="fa fa-home"></i>Add to Home</a>
                            <a class="button is-warning" v-if="itemselected > 0" v-on:click="itemselected=0"><i class="fa fa-minus"></i>Unselect</a>
                            <a class="button is-link" v-if="selected=='Products' && itemselected > 0"><i class="fa fa-plus"></i>Edit Details</a>
                        </div>
                    </div>
                    <div style="overflow-x:auto;padding-bottom: 20px; min-height: 200px;">

                        <div v-if="show_table"></div>
                        <div>
                            <div v-for="p in products" class="card productcard"  v-on:click="itemselected=p.id"  v-bind:class="{ 'is-shady': itemselected==p.id}">
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img v-bind:src="p.thumb" alt="Placeholder image">
                                    </figure>
                                </div>
                                <footer class="card-footer">
                                    <p class="cardhead">[%p.name%]</p>

                                </footer>
                                <footer class="card-footer">
                                    <p class="cardsubtitle">[%p.cardtitle%]</p>
                                </footer>
                                <footer class="card-footer ">
                                    <h2 class="price">₹[%p.price%]<span class="mrpprice">&nbsp;₹[%p.mrp%]&nbsp;&nbsp;</span></h2>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                        <a class="pagination-previous" v-if="table_page > 1" v-on:click="change_page(table_page-1)">Previous</a>
                        <a class="pagination-next" v-if="table_page < total_pages" v-on:click="change_page(table_page+1)">Next page</a>
                        <ul class="pagination-list">
                            <li v-if="table_page>5"><span class="pagination-ellipsis">&hellip;</span></li>
                            <li v-for="p in get_pages()"><a class="pagination-link" v-bind:class="{'is-current': (table_page==p)}" v-bind:aria-label="'Goto page '+p" v-on:click="change_page(p)">[%p%]</a></li>
                            <li v-if="total_pages-table_page>5"><span class="pagination-ellipsis">&hellip;</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>


    <div class="modal" v-bind:class="{ 'is-active': show_add_modal}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add [%selected%]</p>
                    <button class="delete" aria-label="close" v-on:click="show_add_modal=false"></button>
                </header>
                <section class="modal-card-body">
                    <form id="addform">
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" name="name">
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">Cardtitle</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" name="cardsubtitle">
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">Pagetitle</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" name="prodsubtitle">
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">Slug</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" name="slug">
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">Price</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" name="price">
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">MRP</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="text" name="mrpprice">
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                        <div class="field is-horizontal" >
                            <div class="field-label is-normal">
                                <label class="label">Image</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="image">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                Choose a file…
                                                </span>
                                                </span>
                                        </label>
                                    </div>
                                    </p>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="submit_add_form()">Save changes</button>
                    <button class="button" v-on:click="show_add_modal=false">Cancel</button>
                </footer>
            </div>
        </div>
    <div class="modal" v-bind:class="{ 'is-active': show_add_to_home_modal}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add [%selected%]</p>
                <button class="delete" aria-label="close" v-on:click="show_add_to_home_modal=false"></button>
            </header>
            <section class="modal-card-body">
                <form id="addtohomeform">
                    <div class="field is-horizontal" >
                        <div class="field-label is-normal">
                            <label class="label">Rank</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="rank">
                                </p>
                            </div>
                        </div>
                        <div class="field-label is-normal">
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" v-on:click="submit_add_to_home_form()">Save changes</button>
                <button class="button" v-on:click="show_add_to_home_modal=false">Cancel</button>
            </footer>
        </div>
    </div>

</section>


<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function openInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    }


    axios.defaults.xsrfHeaderName = "X-CSRFToken";
    axios.defaults.xsrfCookieName = 'csrftoken';
</script>



<script>
    function serializeForm(form) {
        var objects = [];
        var formData = new FormData();

        if (typeof form == 'object' && form.nodeName.toLowerCase() == "form") {
            var fields = form.getElementsByTagName("input");
            for(var i=0;i<fields.length;i++){
                if(fields[i].type == 'file'){
                    var file = fields[i].files[0];
                    if(file.size > 20000000){
                        console.log('File size is too big !');
                        return;
                    }
                    else{
                        formData.append(fields[i].name, file);
                    }
                }
                else if(fields[i].type == 'checkbox'){
                    formData.append(fields[i].name, fields[i].checked);
                }
                else{
                    formData.append(fields[i].name, fields[i].value);
                }
            }

            fields = form.getElementsByTagName("select");
            for(var i=0;i<fields.length;i++){
                formData.append(fields[i].name, fields[i].value);
            }
        }
        return formData;
    }


    var submit_add_form = function(model){
        app.loading = true;
        var form = document.getElementById('addform');
        var form_data = serializeForm(form);
        axios({
            method: 'post',
            url: '/adminapi/add_product',
            data: form_data,
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }).then(function(response) {
            app.loading = false;
            if(response.data.success){
                app.show_add_modal = false;
                location.reload();
            }
            else{
                console.log(response);
                alert('Error - ' + response.data.reason);
            }

        });
    };


    var submit_add_to_home_form = function(model){
        app.loading = true;
        var form = document.getElementById('addtohomeform');
        var form_data = serializeForm(form);
        form_data.append('prod_id',app.itemselected);
        axios({
            method: 'post',
            url: '/adminapi/add_to_home',
            data: form_data,
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }).then(function(response) {
            app.loading = false;
            if(response.data.success){
                app.show_add_to_home_modal = false;
                location.reload();
            }
            else{
                console.log(response);
                alert('Error - ' + response.data.reason);
            }

        });
    };



    var get_products_data = function get_products_data(){
        app.loading = true;
        axios({
            method: 'post',
            url: '/adminapi/fetch/products',
            data: {
            }
        }).then(function(response) {
            app.products = response.data.data;
            app.loading = false;
        });
    };

    var get_model_data = function get_model_data(model) {
        if(model =='Products'){
            get_products_data();
            return;
        }
    };
</script>


<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[%','%]'],
        data: {
            loading: true,
            show_table: false,
            selected: '',
            itemselected : 0,
            table_page: 2,
            total_pages: 10,
            show_add_modal: false,
            show_add_to_home_modal: false,
            products: []
        },
        watch: {
            selected: function (val, oldVal) {
                this.table_page = 1;
                this.table_filter = {};
                get_model_data(val);
            }
        },
        methods: {
            get_pages: function(){
                var start_page = this.max(this.table_page-5, 1);
                var end_page = this.min(this.table_page+5, this.total_pages);
                var ls = [];
                for(var i=start_page; i <= end_page; i++){
                    ls.push(i);
                }
                return ls;
            },
            min: function(a,b){
                if(a>=b){
                    return b;
                }
                return a;
            },
            max: function(a,b){
                if(a>=b){
                    return a;
                }
                return b;
            },
            change_page: function(new_page){
                if(this.table_page != new_page){
                    this.table_page = new_page;
                }
            },
            submit_add_form : function(){
                submit_add_form(this.selected);
            },
            submit_add_to_home_form: function(){
                submit_add_to_home_form();
            },
            open_demo_home : function(){
                if(this.itemselected > 0){
                    openInNewTab('/storeadmin/demohome/'+this.itemselected);
                }
            },
            open_prod_page : function(){
                if(this.itemselected > 0){
                    openInNewTab('/storeadmin/demoprod/'+this.itemselected);
                }
            }
        }
        });
    app.selected = 'Products';
    app.loading = false;

</script>
</body>
</html>