<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%; overflow: hidden;" >
<head>
    <title>Noobtronics Blog</title>
    <meta name="description" content="{{data.description}}">
    <meta property="og:title" content="{{data.meta_title}} | Noobtronics Shop | India">
    <meta property="og:description" content="{{data.description}}">
    <meta property="og:image" content="https://noobtronics.ltd{{home_images.0}}">
    <meta property="og:url" content="{{data.url}}">


    {% include "header.html" %}
    <link rel="stylesheet" href="/static/css/bulma/blog_css.min.css">

</head>
<body  style="width:100%; height:100%; overflow: scroll;" class="has-navbar-fixed-top">
<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top -->
    {% include "hero-head.html" %}

    <!-- Hero content: will be in the middle -->
    <div class="hero-body blogcontainer" id="blogapp">
        <div class="container">
            <div class="columns firstcolmns">
                <div class="column">
                    {% for b in blog_data %}
                    <div class="contentbox shortcontentbox">
                        <div class="content shortcontent">
                            <h1 class="title"><a href="/blog/{{b.slug}}" style="color: #363636 !important;">{{b.name}}</a></h1>
                            <div>
                                {{b.short_html | safe}}
                            </div>
                        </div>
                        <p style="text-align:center; margin-top: 10px; padding:0;">
                            <a  target="_blank" href="/blog/{{b.slug}}">(read more)</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <p class="headingp">Browse</p>
                    <div class="columns prodbrowselinks">
                        <div class="column">
                            <div class="buttons is-centered">
                                {% for b in data.browse_links %}
                                    <a class="button is-medium is-primary is-inverted is-outlined " href="/shop/{{b.url}}">{{b.name}}</a>
                                {% endfor %}
                                <a class="button is-medium is-primary is-inverted is-outlined " href="/shop">All Products</a>
                                <a class="button is-medium is-primary is-inverted is-outlined " href="/blog">Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    {% include "hero-footer.html" %}
</section>



<script type="text/javascript">
    var link = window.location.pathname;
    history.replaceState(null, "Noobtronics Shop: Microcontrollers, Sensors, Modules, Electronic Hobby Kits | India", "/shop");
    history.pushState(null, "{{data.meta_title}} | Noobtronics Shop | India", link);

    $(document).ready(function() {

        window.addEventListener('popstate', (event) => {
            location.replace("/shop");
        });

    });
</script>


<script type="application/ld+json">
    {{page_structured_data | safe}}
</script>

</body>
</html>
