<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    {% endblock %}

    {% include 'header.html' %}

    <meta name="google-signin-client_id" content="436152518040-289nirmcqqh1dik5409htqhgsrrjr140.apps.googleusercontent.com">





  </head>
  <body>
    {% include 'header-menu.html' %}
    <div class="container fullwdithcontainer">




      {% block section %}
      {% endblock %}

    </div>

    {% include 'footer.html' %}

    {% block foorter_script %}
    {% endblock %}

    {% include 'header-menu-js.html' %}
  </body>
</html>
