<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    {% include "header.html" %}
</head>
<body>
<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top -->
    {% include "hero-head.html" %}

<section id="cartapp">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container shopcontainer">
            <div class="columns">
                <div class="column progresssteps">


                    <ul class="steps is-narrow is-medium is-centered has-content-centered">
                        <li class="steps-segment is-active has-gaps">
                            <a href="#" class="has-text-dark">
                                <span class="steps-marker">
                                <span class="icon">
                                <i class="fa fa-shopping-cart"></i>
                                </span>
                                </span>
                                <div class="steps-content">
                                    <p class="heading">Shopping Cart</p>
                                </div>
                            </a>
                        </li>
                        <li class="steps-segment has-gaps">
                            <a href="#" class="has-text-dark">
                                <span class="steps-marker">
                                <span class="icon">
                                <i class="fa fa-user"></i>
                                </span>
                                </span>
                                <div class="steps-content">
                                    <p class="heading">User Information</p>
                                </div>
                            </a>
                        </li>
                        <li class="steps-segment has-gaps">
                                <span class="steps-marker">
                                <span class="icon">
                                <i class="fas fa-rupee-sign"></i>
                                </span>
                                </span>
                                <div class="steps-content">
                                <p class="heading">Payment</p>
                            </div>
                        </li>
                        <li class="steps-segment">
                            <span class="steps-marker">
                            <span class="icon">
                            <i class="fa fa-check"></i>
                            </span>
                            </span>
                            <div class="steps-content">
                                <p class="heading">Confirmation</p>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h2 class="title is-4 carttitle">Shopping Cart</h2>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-quarters">
                    <aside class="menu">
                        <table class="table">
                            <table class="table cartmenu">
                                <tbody>
                                <tr>
                                    <th>Subtotal:</th>
                                    <td v-html="rsubtotal"></td>
                                </tr>
                                <tr>
                                    <th>Delivery Charges:</th>
                                    <td v-html="rdeliverycharge"></td>
                                </tr>
                                <tr>
                                    <th>Extra Charges:</th>
                                    <td v-html="rextracharge"></td>
                                </tr>

                                </tbody>
                            </table>
                            <table class="table cartmenu">
                                <tr class="totalrow">
                                    <th>Total:</th>
                                    <td><span v-html="rtotal"></span><br><div class="content is-small">(GST inclusive)</div></td>
                                </tr>
                            </table>
                        </table>
                    </aside>
                </div>
                <div class="column is-three-quarters prodcolumn">

                    <table class="table carttable">
                        <thead>
                        <tr>
                            <td>Product</td>
                            <td></td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="prod in products">
                            <td><div class="cartproddiv"><article class="media is-shady">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img v-bind:src="prod.img">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="cardhead">[%prod.title%]</p>
                                        <p class="cardsubtitle">[%prod.subtitle%]</p>
                                    </div>
                                </div>
                            </article></div></td>
                            <td><div class="content is-medium" data-balloon="Remove" data-balloon-pos="right" v-on:click="remove_prod(prod.id)"><i class="fa fa-window-close" aria-hidden="true"></i></div></td>
                            <td>₹[%prod.price%]</td>
                            <td>
                                <div class="prodquant cartquant">
                                    <a class="button is-success is-inverted increment">
                                <span class="icon" v-on:click="increase_qty(prod.id)">
                                  <i class="fas fa-plus"></i>
                                </span>
                                    </a>
                                    <span class="cart_qty">[%prod.qty%]</span>
                                    <a class="button is-success is-inverted increment">
                                <span class="icon" v-on:click="decrease_qty(prod.id)">
                                  <i class="fas fa-minus"></i>
                                </span>
                                    </a>
                                </div>
                            </td>
                            <td>₹[%prod.total%]</td>
                        </tr>
                        <tr>
                            <td><div class="cartproddiv"><article class="media is-shady">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="cardhead">Smartduino Uno 16Mhz</p>
                                        <p class="cardsubtitle">ATMega328P Microcontroller Board</p>
                                    </div>
                                </div>
                            </article></div></td>
                            <td><div class="content is-medium" data-balloon="Remove" data-balloon-pos="right"><i class="fa fa-window-close" aria-hidden="true"></i></div></td>
                            <td>₹100</td>
                            <td>1</td>
                            <td>₹100</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div class="modal blackmodal" v-bind:class="{'is-active': ModalDeleteConfirm}">
        <div class="modal-card confirm-modal bShadow-66 is-shady">
            <section class="modal-card-body">
                <div class="modalclose">
                    <span v-on:click="ModalDeleteConfirm=false">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </span>
                </div>
                <h2 class="title is-6">Confirm</h2>
                <p>Do you want to remove following from the cart ?</p>
                <p class="cardhead">[%confirm_name%]</p>
                <p class="cardsubtitle">[%confirm_sub%]</p>
                <p class="cardsubtitle" style="margin-left: 10px;">Quantity: [%confirm_qty%]</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" v-on:click="remove()">Remove</button>
                <button class="button" v-on:click="ModalDeleteConfirm=false">Cancel</button>
            </footer>
        </div>
    </div>
</section>

    {% include "hero-footer.html" %}

<script>
    var subtotal = {{subtotal}};

    var deliverycharge = {{deliverycharge}};

    var extracharge = {{extracharge}};

    var total = {{total}};

    var products = {{cartprods | safe}};
    var prod_id_index = {{cartprods_ids | safe}};
</script>

<script>
    var edit_cart = function edit_cart(action, cp_id) {
        head_app.loading = true;
        axios({
            method: 'post',
            url: '/api/cart/edit_cart',
            data: {
                'action': action,
                'cp_id': cp_id
            }
        }).then(function (response) {
            head_app.loading = false;
            if(response.data.success){
                cartapp.products = response.data.cartprods;
                cartapp.prod_id_index = response.data.cartprods_ids;
                cartapp.subtotal = response.data.subtotal;
                cartapp.deliverycharge = response.data.deliverycharge;
                cartapp.extracharge = response.data.extracharge;
                cartapp.total = response.data.total;
                head_app.cartqty = cartapp.products.length;
            }
            else{
                console.log(response);
                alert('Error - ' + response.data.reason);
            }
        });
    };
</script>

<script>
    var cartapp = new Vue({
        el: '#cartapp',
        delimiters: ['[%', '%]'],
        data: {
            subtotal: subtotal,
            deliverycharge: deliverycharge,
            extracharge: extracharge,
            total: total,
            products: products,
            prod_id_index: prod_id_index,
            ModalDeleteConfirm: false,
            confirm_name: '',
            confirm_sub: '',
            confirm_qty: '',

        },
        computed: {
            rsubtotal: function () {
                return '₹' + this.subtotal.toString();
            },
            rdeliverycharge: function () {
                return '₹' + this.deliverycharge.toString();
            },
            rextracharge: function () {
                return '₹' + this.extracharge.toString();
            },
            rtotal: function () {
                return '₹' + this.total.toString();
            }

        },
        methods: {
            increase_qty: function(cp_id){
                edit_cart('increase', cp_id);
            },
            decrease_qty: function(cp_id){
                var idx = this.prod_id_index[cp_id];
                var qty = this.products[idx].qty;
                if(qty==1) {
                    this.remove_prod(cp_id);
                }
                else{
                    edit_cart('decrease', cp_id);
                }
            },
            remove_prod: function(cp_id){
                var idx = this.prod_id_index[cp_id];
                var prod = this.products[idx];
                this.confirm_name = prod.title;
                this.confirm_sub = prod.subtitle;
                this.confirm_qty = prod.qty;
                this.confirm_id = cp_id;
                this.ModalDeleteConfirm = true;
            },
            remove: function(){
                edit_cart('remove', this.confirm_id);
                this.ModalDeleteConfirm = false;
            }

        }
    });

</script>


</section>
</body>
</html>