<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="https://noobtronics.ltd{{request.get_full_path}}" />

<link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />



<script>
function loadStyleSheet(src) {
    if (document.createStyleSheet){
        document.createStyleSheet(src);
    }
    else {
        var el = document.getElementsByTagName('head');
        var s = document.createElement('link');
        s.rel='stylesheet';
        s.href=src;
        el.insertBefore(s, el.firstChild);

    }
};

var getScript = function(nm, id) {
  var s = document.createElement('script');
  s.type='text/javascript';
  s.id=id;
  s.src=nm;
  document.getElementsByTagName('head')[0].appendChild(s);
}

</script>

<script>
window.onload = function(e){
    loadStyleSheet("/static/css/plugin/animate/animate.min.css");
    loadStyleSheet("/static/css/loading.css");
    loadStyleSheet("/static/css/plugin/box-shadows.min.css");
    loadStyleSheet("/static/css/plugin/balloon.min.css");
}
</script>


<link rel="stylesheet" href="/static/css/bulma/mystyle.min.css">
<!-- <script src="/static/css/fontawesome/js/all.js"></script> -->
<link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">


{% if DEBUG %}
<script src="/static/js/vue/vue.js"></script>
{% else %}
<script src="/static/js/vue/vue.min.js"></script>
{% endif %}


<script src="/static/js/axios/axios.min.js"></script>
<script>
    axios.defaults.xsrfHeaderName = "X-CSRFToken";
    axios.defaults.xsrfCookieName = 'csrftoken';
</script>

<script src="/static/js/jquery/jquery.min.js" defer></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js" defer></script>


<meta name="google-signin-client_id" content="436152518040-289nirmcqqh1dik5409htqhgsrrjr140.apps.googleusercontent.com">



<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-125040779-2', 'auto');  // Replace with your property ID.
ga('send', 'pageview');
ga('require', 'ec');
</script>




<!-- Google Analytics -->
<script>
{% if page_type == 'product_page' %}
ga('ec:addImpression', {
  'id': '{{data.sku}}',
  'name': '{{data.name}}',
  'price': '{{data.price}}',
});
{% endif %}

{% if page_type == 'cart_page' %}
ga('ec:setAction','checkout', {
    'step': 1,
});
{% endif %}


ga('send', 'pageview');
</script>
<!-- End Google Analytics -->





<script>
    {% if not loggedin %}
    var user_authenticated = false;
    {% else %}
    var user_authenticated = true;
    {% endif %}
</script>




<script>
    function checkCookie(){
        var cookieEnabled = navigator.cookieEnabled;
        if (!cookieEnabled){
            document.cookie = "testcookie";
            cookieEnabled = document.cookie.indexOf("testcookie")!=-1;
        }
        return cookieEnabled || showCookieFail();
    }

    function showCookieFail(){
      alert("Please Enable Cookies in your browser to experience the website.");
    }


    // within a window load,dom ready or something like that place your:
    checkCookie();
</script>

<script>
    Vue.config.delimiters = ['[%', '%]'];

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    var animate_by_id = function(id, animation){
        var handle = setInterval(function () {
            if($('#'+id).hasClass('is-badge-danger')){
                $('#'+id).addClass(animation);
                setTimeout(function () {
                    $('#'+id).removeClass(animation);
                }, 2000);
                clearInterval(handle);
            }
        }, 50);
    };


    var js_open_url =function(url){
        var win = window.open(url, '_blank');
        win.focus();
    };





    var cartqty = {{cartqty}};
    {% if require_mobile %}
    var ask_mobile = {{require_mobile}};
    {% else %}
    var ask_mobile = 0;
    {% endif %}
</script>
