<nav class="navbar"><div class="container">
  <div class="navbar-brand is-active"><a class="navbar-item" href="/"><img src="/static/images/Logo.png" alt="electronicsPi"></a><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
  <div class="navbar-menu">
      <div class="navbar-end"><a class="navbar-item" href="/blog">Blog</a>
        <a class="navbar-item" href="http://noobtronics.ltd/shop" target="_blank">Shop</a>
      </div>
      <!-- <div>
        <div class="navbar-item"><a class="button is-primary" href="#">Log In</a></div>
      </div> -->
    </div>
  </div>
</nav>
