<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
<link rel="stylesheet" href="/static/css/plugin/balloon.min.css">
<link rel="stylesheet" href="/static/css/plugin/box-shadows.min.css">

<link rel="stylesheet" href="/static/css/loading.css">
<link rel="stylesheet" href="/static/css/bulma/mystyle.css">
<script defer src="/static/css/fontawesome/js/all.js"></script>
<script type="text/javascript" src="/static/css/bulma/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.min.js"></script>
<script src="/static/js/vue/vue.js"></script>
<script src="/static/js/axios/axios.js"></script>
<meta name="google-signin-client_id" content="436152518040-289nirmcqqh1dik5409htqhgsrrjr140.apps.googleusercontent.com">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125040779-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125040779-2');
</script>

<script>
    Vue.config.delimiters = ['[%', '%]'];

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    axios.defaults.xsrfHeaderName = "X-CSRFToken";
    axios.defaults.xsrfCookieName = 'csrftoken';

    {% if not loggedin %}
    var user_authenticated = false;
    {% else %}
    var user_authenticated = true;
    {% endif %}
</script>
