
<section id="navbar-menu">



<nav class="navbar is-dark">

  <div class="container">
  <div class="navbar-brand is-active"><a class="navbar-item" href="/"><img src="/static/images/noobtronics-logo.png" alt="noobtronics" width="200"></a>
    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>



    <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable" id="NavShopMenu">
        <a class="navbar-link" data-target="NavShopMenu">
          Shop
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item" href="/shop">
            All Products
          </a>
          <a class="navbar-item" href="/shop/microcontrollers">
            Microcontrollers
          </a>
          <a class="navbar-item" href="/shop/kits">
            Learning Kits
          </a>
          <a class="navbar-item" href="/shop/lcd">
            LCD Displays
          </a>
          <a class="navbar-item" href="/shop/tinkering-supply">
            Tinkering Supply
          </a>

        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable" id="NavBlogMenu">
        <a class="navbar-link" data-target="NavBlogMenu">
          Blog
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item" href="/blog">
            Blog Home
          </a>
          <a class="navbar-item" href="/blog/arduino">
            Arduino Blog
          </a>
          <a class="navbar-item" href="/blog/datasheet">
            Datasheet
          </a>

        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable" id="NavInfoMenu">
        <a class="navbar-link" data-target="NavInfoMenu">
          Information
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item" href="/about-us">
            About Us
          </a>
          <a class="navbar-item" href="/contact-us">
            Contact Us
          </a>
          <a class="navbar-item" href="/contact-us">
            Delivery Locations
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button " >
              <span class="icon">
                <img alt="store icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAiUlEQVRIie2UMQqAMAxFX8WxeJmO4j0EZz1tLyMeQAcpllrtkKBLHwRCAkk+TQqVAiYT2zVrNsJiRd4a9MCQ8dUaNFxyY1+E43wDibk3BYvCkPNTwgKrgoIN6HIKpjghwAJjLuEVpg/mQ9F4M6QHlmLgg0NLCRLV8r9+FbUBAO1DXG1lP1/Tyo0Di5BBbnFxxIoAAAAASUVORK5CYII="/>

              </span>
              <span>
                Store
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button badge is-inverted badge is-badge-danger cartbuttons" v-bind:data-badge="cart_count>0 ? cart_count : false"  href="https://github.com/jgthms/bulma/releases/download/0.8.0/bulma-0.8.0.zip">
              <span class="icon">
                <img alt="checkout icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA1ElEQVRIid3UP2oCQRiG8V8kkFoktZUHEDxEREJOkzN4AzsRBG+QUkj63MBSbZIqTUgC/itWcDGgM+usoC981X48zzsws1xLVlhvZ1CGYJkT/OK+DAm85ERF5zUPrOwJeglK1g59vMGkQOv8PB5r8HwC/C3kiFV8F4Cv0AoRkF3VWMEwFA7NSPgP6jECeI8QdGPhNXwGNh/hLlbQ3wLGsqubNFUs8IdGajjc4kuxdxCcJ3yUKSg9HcwxQzvB3r/M7I49PWVv/3d9trRl7aZ4SLB3wdkAc+mm8AY1w/kAAAAASUVORK5CYII="/>
              </span>
              <span>Checkout</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>



  </div>
</nav>


</section>
