<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
<style>
    html { visibility:hidden; }
</style>
<link rel="stylesheet" href="/static/css/plugin/balloon.min.css">
<link rel="stylesheet" href="/static/css/plugin/box-shadows.min.css">

<link rel="stylesheet" href="/static/css/bulma/mystyle.css">
<script defer src="/static/css/fontawesome/js/all.js"></script>
<script type="text/javascript" src="/static/css/bulma/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.min.js"></script>
<script src="/static/js/vue/vue.js"></script>
