<section id="footer_app">

<div class="hero-foot">
    <nav class="tabs">
        <div class="container footcontainer">
            <div class="columns has-text-centered footerc">
                <div class="column"><span v-on:click="openDeliveryWindow()">Shipping & Delivery</span></div>
                <div class="column"><span v-on:click="openLegalWindow()">Returns & Replacements</span></div>
                <div class="column"><span v-on:click="openPaymentWindow()">Terms & Conditions</span></div>
            </div>
        </div>
    </nav>
</div>

<div class="socialbutton">
    <div data-balloon="WhatsApp Contact" data-balloon-pos="up">
        <i class="fab fa-whatsapp-square" style="font-size: 50px;margin-right: 5px;"></i>
        <span>
                <a href="https://wa.me/919833870385/?text=Hi%20Noobtroncis" target="_blank">+91 9833870385</a>
            </span>
    </div>
</div>

<div class="modal blackmodal" v-bind:class="{'is-active': ModalDelivery}" v-cloak>
    <div class="modal-card delivery-modal bShadow-66">
        <section class="modal-card-body">
            <div class="modalclose">
                    <span v-on:click="ModalDelivery=false">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </span>
            </div>
            <h2 class="title is-6">Express Delivery</h2>
            <div id="footdelcontent"></div>
        </section>
    </div>
</div>

<div class="modal blackmodal" v-bind:class="{'is-active': ModalPayment}" v-cloak>
    <div class="modal-card tc-modal bShadow-66">
        <section class="modal-card-body">
        <div class="modalclose">
                    <span v-on:click="ModalPayment=false">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </span>
        </div>

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li v-bind:class="{ 'is-active': (LegalactivePage==1) }" v-on:click="LegalchangePage(1)"><a>Terms & Conditions</a></li>
                <li v-bind:class="{ 'is-active': (LegalactivePage==2) }" v-on:click="LegalchangePage(2)"><a>Privacy Policy</a></li>
            </ul>
        </nav>
        <div class="content" v-html="Legaldisplay">
        </div>
        <div id="footpaycontent"></div>
        </section>
    </div>
</div>

<div class="modal blackmodal" v-bind:class="{'is-active': ModalTC}" v-cloak>
    <div class="modal-card tc-modal bShadow-66">
        <section class="modal-card-body">
            <div class="modalclose">
                    <span v-on:click="ModalTC=false">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </span>
            </div>

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li v-bind:class="{ 'is-active': (LegalactivePage==0) }" v-on:click="LegalchangePage(0)"><a>Returns & Replacements</a></li>
                </ul>
            </nav>
            <div class="content" v-html="Legaldisplay">
            </div>
            <div id="legalcontent"></div>

        </section>
    </div>
</div>

</section>


<script>
    var openLegalWindow = function(){
        if(footer_app.downloadTC){
            head_app.loading = true;
            axios({
                method: 'get',
                url: '/api/legalcontent'
            }).then(function(response) {
                var mydata = document.getElementById("legalcontent").innerHTML = response.data;
                footer_app.downloadTC = false;
                footer_app.Legaldata = [
                    document.getElementById("legalr").innerHTML,
                    document.getElementById("legalt").innerHTML,
                    document.getElementById("legalp").innerHTML
                ];
                head_app.loading = false;
                footer_app.LegalactivePage = 0;
                footer_app.ModalTC = true;
            });
        }
        else{
            footer_app.LegalactivePage = 0;
            footer_app.ModalTC = true;
        }
    };

    var openDeliveryWindow = function(){
        if(footer_app.downloadDelivery){
            head_app.loading = true;
            axios({
                method: 'get',
                url: '/api/deliverycontent'
            }).then(function(response) {
                var mydata = document.getElementById("footdelcontent").innerHTML = response.data;
                footer_app.downloadDelivery = false;
                head_app.loading = false;
                footer_app.ModalDelivery = true;
            });
        }
        else{
            footer_app.ModalDelivery = true;
        }
    };


    var openPaymentWindow = function(){
        if(footer_app.downloadPayment){
            head_app.loading = true;
            axios({
                method: 'get',
                url: '/api/legalcontent'
            }).then(function(response) {
                var mydata = document.getElementById("footpaycontent").innerHTML = response.data;
                footer_app.downloadTC = false;
                footer_app.Legaldata = [
                    document.getElementById("legalr").innerHTML,
                    document.getElementById("legalt").innerHTML,
                    document.getElementById("legalp").innerHTML
                ];
                head_app.loading = false;
                footer_app.LegalactivePage = 1;
                footer_app.ModalPayment = true;
            });
        }
        else{
            footer_app.LegalactivePage = 1;
            footer_app.ModalPayment = true;
        }
    };
</script>


<script>
    var footer_app = new Vue({
        el: '#footer_app',
        data: {
            ModalDelivery: false,
            ModalPayment: false,
            ModalTC: false,
            LegalactivePage:0,
            Legaldata:['', '', ''],
            downloadTC: true,
            downloadDelivery: true,
            downloadPayment: true,
        },
        computed: {
            Legaldisplay: function () {
                return this.Legaldata[this.LegalactivePage]
            }
        },
        methods: {
            LegalchangePage:function(pageNumber){
                this.LegalactivePage=pageNumber;
            },

            openLegalWindow:function(){
                openLegalWindow();
            },
            openDeliveryWindow:function(){
                openDeliveryWindow();
            },
            openPaymentWindow:function(){
                openPaymentWindow();
            }
        }
    })
</script>