<section id="head_app">
<div class="hero-head">
    <header class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand ">
                <a class="navbar-item " href="/">
                    <img src="/static/images/Logo.png" alt="Logo" width="300" height="100">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">


                <div class="navbar-end">
                    <nav class="level">
                        <a class="navbar-item is-active" href="/">
                            Home
                        </a>
                        <a class="navbar-item" href="/shop">
                            Shop
                        </a>
                        {% if not loggedin %}
                        <a class="navbar-item" style="margin-right: 10px;" v-on:click="ModalLogin=true">
                            Login
                        </a>
                        {% else %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="/documentation/overview/start/">
                                My Account
                            </a>
                            <div class="navbar-dropdown is-boxed myaccount">
                                <a class="navbar-item" href="/orders">
                                    Orders
                                </a>
                                <a class="navbar-item" v-on:click="processLogout()">
                                    Logout
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        <div class="navbar-item has-dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <a :data-balloon="cartqty==0 ? 'Your cart is Empty!': false " data-balloon-pos="down" id='cartnav' class="button is-success is-inverted" v-on:click='handle_cart_click()' v-bind:class="{'badge is-badge-danger': cartqty > 0}" v-bind:data-badge="cartqty" >
                                    <span class="icon">
                                      <i class="fas fa-shopping-cart"></i>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </header>

</div>


<div class="modal" v-bind:class="{'is-active': ModalLogin}">
    <div class="modal-card loginmodal bShadow-10">
        <section class="modal-card-body">
            Login
            <div class="modalclose">
                    <span v-on:click="ModalLogin=false">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </span>
            </div>
            <div id="my-signin2"></div>
        </section>
    </div>
</div>

    <div class="lds-dual-ring" v-if="loading"></div>
</section>

<script>
    var head_app = new Vue({
        el: '#head_app',
        data: {
            ModalLogin: false,
            loading: false,
            cartqty: cartqty
        },
        methods: {
            processLogout: function () {
                processLogout();
            },
            handle_cart_click: function(){
                if(this.cartqty > 0){
                    window.location='/cart';
                }
                else{

                }
            }
        }
    })

    var csrfmiddlewaretoken = getCookie('csrftoken');

    function onSignIn(googleUser) {
        if(user_authenticated){
            return;
        }
        var auth2 = gapi.auth2.getAuthInstance();
        var profile = auth2.currentUser.get().getBasicProfile();

        var d = {
            id_token: googleUser.getAuthResponse().id_token,
            first_name: profile.getGivenName(),
            last_name: profile.getFamilyName(),
            email: profile.getEmail(),
            uri: location.pathname.substring(1)
        };
        processLogin(d);
    }

    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 190,
            'height': 40,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSignIn,
            'onfailure': onFailure
        });
    }

    function onFailure(){
        alert('Error - Please refresh / Delete Cache');
    }

    var processLogin = function(d){
        head_app.loading = true;
        axios({
            method: 'post',
            url: '/api/login',
            data: d
        }).then(function(response) {
            console.log(response);
            head_app.loading = false;
            if(response.data.success){
                location.reload();
            }
        });
    };

    var processLogout = function(){
        head_app.loading = true;
        axios({
            method: 'post',
            url: '/api/logout'
        }).then(function(response) {
            head_app.loading = false;
            if(response.data.success){
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    location.reload();
                });
                console.log('logging out...')
            }
        });
    };
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>