<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Orders</title>
    {% include "header.html" %}

    <script>
    </script>
</head>
<body>
<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top -->
    {% include "hero-head.html" %}

    <!-- Hero content: will be in the middle -->
<section id="orderapp">
    <div class="hero-body" >
        <div class="container ordercontainer">
            <h2 class="title is-4 ordertitle">Your Orders</h2>
            {% if order_data|length < 1%}
            <div class="orders">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">You do not have any orders with us</div>
                    <div class="column"></div>
                </div>
            </div>
            {% endif %}
            {% for order in order_data %}
            <div class="orders">
                <div class="columns headingr">
                    <div class="column has-text-left ordershead1">
                        <p class="valname">OrderID:</p>
                        <p>{{order.order_id}}</p>
                    </div>
                    <div class="column ordershead2">
                        <p class="valname">Order Time:</p>
                        <p>{{order.order_time}}</p>
                    </div>
                    <div class="column has-text-left is-2 ordershead3">
                        <p class="valname">Total:</p>
                        <p class="money">₹{{order.amount}}</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <table class="table carttable ordertable">
                            <tbody>
                            {% for prod in order.prod_data %}
                            <tr>
                                <td><div class="cartproddiv" style="width: 400px;">
                                    <article class="media is-shady" v-on:click="open_prod_page('{{prod.slug}}')">
                                    <figure class="media-left">
                                        <p class="image is-96x96">
                                            <img src="{{prod.img}}">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="cardhead">{{prod.title}}</p>
                                            <p class="cardsubtitle">{{prod.subtitle}}</p>
                                        </div>
                                    </div>
                                </article></div></td>
                                <td class="ordersprice">₹{{prod.price}}</td>
                                <td class="ordersqty">
                                    <div class="prodquant cartquant">
                                        <span class="cart_qty">x{{prod.qty}}</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-2 ordersstatus">
                        <p class="valname">Status:</p>
                        <p>{{order.status}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="buttons">
                            <a class="button is-warning" href="/order/{{order.order_id}}" target="_blank">View Details</a>
                            {% if order.status == "Processing" %}
                            <a class="button is-danger" v-on:click="confirm_cancel({{order.order_id}})">Cancel</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal blackmodal" v-bind:class="{'is-active': ModalCancel}" v-cloak>
        <div class="modal-card cancon-modal bShadow-66 is-shady">
            <section class="modal-card-body">
                <div class="modalclose">

                </div>
                <h2 class="title is-6">Confirm Cancel</h2>
                <p>Do you want to Cancel Order no. [% order_id %] ?</p>
                <br>
                <p class="content is-small">Paid money will be refunded within 5 business days.</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" v-on:click="cancel_order">Yes</button>
                <button class="button is-info" v-on:click="ModalCancel=false;">No</button>
            </footer>
        </div>
    </div>


</section>

<script>
    var cancel_order = function cancel_order() {
        head_app.loading = true;
        axios({
            method: 'post',
            url: '/api/order/cancel',
            data: {
                'order_id': orderapp.order_id,
            }
        }).then(function (response) {
            head_app.loading = false;
            if(response.data.success){
                location.reload();
            }
            else{
                console.log(response);
                alert('Error - ' + response.data.reason);
            }
        });
    };
</script>

<script>
    var orderapp = new Vue({
        el: '#orderapp',
        delimiters: ['[%', '%]'],
        data: {
            ModalCancel: false,
            order_id: '',
        },
        computed: {
        },
        methods: {
            confirm_cancel: function(order_id){
                this.order_id = order_id;
                this.ModalCancel = true;
            },
            cancel_order: function(){
                cancel_order();
            },
            open_prod_page: function(slug){
                var url = '/product/'+slug;
                var win = window.open(url, '_blank');
                win.focus();
            }
        }
    });

</script>


    {% include "hero-footer.html" %}
</section>
</body>
</html>