<!DOCTYPE html>
<html lang="en">
<head>
    <title>Noobtronics Shop</title>

    <!-- Photoswipe Core CSS file -->
    <link rel="stylesheet" href="/static/css/plugin/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/static/css/plugin/photoswipe/default-skin/default-skin.css">
    <script src="/static/css/plugin/photoswipe/photoswipe.min.js"></script>
    <script src="/static/css/plugin/photoswipe/photoswipe-ui-default.min.js"></script>


    {% include "header.html" %}
</head>
<body>
<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top -->
    {% include "hero-head.html" %}

    <!-- Hero content: will be in the middle -->
    <div class="hero-body productpagebody" id="prodapp">
        <div class="container has-text-centered">
            <div class="columns view">
                <div class="column prodimagecol">

                    <div class="prodicons">
                        <div class="prodicon"><img src="{{data.image}}" width="64"></div>
                        <div class="prodicon"><img src="{{data.image}}" width="64"></div>
                        <div class="prodicon"><img src="{{data.image}}" width="64"></div>
                        <div class="prodicon"><img src="{{data.image}}" width="64"></div>
                        <div class="prodicon"><img src="{{data.image}}" width="64"></div>

                    </div>
                    <div class="proddisplay" v-on:click="openPhotoSwipe()">
                        <img src="{{data.image}}" width="400">
                    </div>

                </div>
                <div class="column">
                    <h2 class="title is-3" style="margin-top:30px;">Smartduino Uno</h2>
                    <h3 class="subtitle is-5">Atmega 328 Microcontroller</h3>
                </div>
            </div>
            <div class="columns productdetails">
                <div class="column">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li v-bind:class="{ 'is-active': (activePage==0) }" v-on:click="changePage(0)"><a>Information</a></li>
                            <li v-bind:class="{ 'is-active': (activePage==1) }" v-on:click="changePage(1)"><a>Specifications</a></li>
                            <li v-bind:class="{ 'is-active': (activePage==2) }" v-on:click="changePage(2)"><a>Package</a></li>
                            <li v-bind:class="{ 'is-active': (activePage==3) }" v-on:click="changePage(3)"><a>Downloads</a></li>
                        </ul>
                    </nav>
                    <div class="content" v-html="display">
                        Hi
                    </div>
                    <div id="info" style="display: none;">
                        <p>
                            Smartduino Uno is an entry level microcontroller which you can use in your electronics project. It is based on <a target="_blank" href="http://ww1.microchip.com/downloads/en/DeviceDoc/Atmel-42735-8-bit-AVR-Microcontroller-ATmega328-328P_Datasheet.pdf">Atmel's Atmega 328</a> chip. It has 14 digital input/output pins (of which 6 can be used as PWM outputs), 6 analog inputs, a 20 MHz quartz crystal, a USB connection, a power jack, an ICSP header and a reset button.
                        </p>
                        <p>Features:</p>
                        <ul>
                            <li>Cost effective and 25% faster than Arduino UNO</li>
                            <li>microUSB Connector - now you won't have to worry about losing the scarce USB cable</li>
                        </ul>
                    </div>
                    <div id="specs" style="display: none;">
                        <table class="table is-bordered is-narrow" style="width:400px; margin-left: 10px;">
                            <tbody>
                            <tr>
                                <td>Microcontroller</td>
                                <td><a target="_blank" href="http://ww1.microchip.com/downloads/en/DeviceDoc/Atmel-42735-8-bit-AVR-Microcontroller-ATmega328-328P_Datasheet.pdf">Atmel's Atmega 328</a></td>
                            </tr>
                            <tr>
                                <td>Computing Speed</td>
                                <td>20 MIPS</td>
                            </tr>
                            <tr>
                                <td>Clock Rate</td>
                                <td>20 Mhz</td>
                            </tr>
                            <tr>
                                <td>Flash Memory</td>
                                <td>32 KBytes</td>
                            </tr>
                            <tr>
                                <td>SRAM</td>
                                <td>2 KBytes</td>
                            </tr>
                            <tr>
                                <td>EEPROM</td>
                                <td>1 KBytes</td>
                            </tr>
                            <tr>
                                <td>Digital I/O Pins</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>Analog Input Pins</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>PWM Output Pins (Analog)</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Operating Voltage</td>
                                <td>5V</td>
                            </tr>
                            <tr>
                                <td>Power Source</td>
                                <td>microUSB (5V) <br> or <br>Power Jack (6-16V)</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div id="pack" style="display: none;">
                        <p>Package Contents:</p>
                        <ul>
                            <li>1 Smartduino Uno Board</li>
                            <li>1 microUSB Cable</li>
                            <li>1 LED for testing</li>
                        </ul>
                    </div>
                    <div id="downl" style="display: none;">
                        <p>Arduino Software:</p>
                        <ul>
                            <li><a>Windows</a></li>
                            <li><a>Mac</a></li>
                            <li><a>Ubuntu</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include "hero-footer.html" %}
</section>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>


<script>
    var pswpElement = document.querySelectorAll('.pswp')[0];

    // build items array
    var pswp_items = [
        {
            src: '{{data.image}}',
            w: 1000,
            h: 1000
        },
        {
            src: 'https://placekitten.com/1200/900',
            w: 1200,
            h: 900
        }
    ];



    var openPhotoSwipe = function(){
        var pswp_options = {
            index: 0,
            timeToIdle: 3000,
            showAnimationDuration: 0.5
        };

        var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, pswp_items, pswp_options);
        gallery.init();
    };
</script>



<script>
    var prodapp = new Vue({
        el: '#prodapp',
        data: {
            activePage:0,
            data:[document.getElementById("info").innerHTML,
                document.getElementById("specs").innerHTML,
                document.getElementById("pack").innerHTML,
                document.getElementById("downl").innerHTML
            ],
        },
        computed: {
            display: function () {
                return this.data[this.activePage]
            }
        },
        methods: {
            changePage:function(pageNumber){
                this.activePage=pageNumber;
            },
            openPhotoSwipe:function(){
                openPhotoSwipe();
            }
        }
    })
</script>



</body>
</html>