{% extends 'base.html' %}

{% block head %}
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <link rel="canonical" href="https://noobtronics.in">
    <meta name="robots" content="all">
{% endblock %}


{% block section %}

<section class="hero"><div class="hero-body" style="padding: 0;">
    <div class="container has-text-centered">
      <div class="columns is-mobile  horizontalprodphotos">

        <div class="column is-full has-text-centered photocolumn">
          <figure class="image">
            <a href="/product/{{prod.slug}}" target="_blank">
              <img src="/media/smartduino_uno.png" alt="{{prod.name}}">
            </a>
          </figure>
        </div>

        <div class="column is-full has-text-centered photocolumn">
          <figure class="image">
            <a href="/product/{{prod.slug}}" target="_blank">
              <img src="/media/smartduino_uno.png" alt="{{prod.name}}">
            </a>
          </figure>
        </div>

        <div class="column is-full has-text-centered photocolumn">
          <figure class="image">
            <a href="/product/{{prod.slug}}" target="_blank">
              <img src="/media/smartduino_uno.png" alt="{{prod.name}}">
            </a>
          </figure>
        </div>


      </div>
    </div>
  </div>
</section>


<section class="hero productdescription" >
  <div class="hero-body">
    <div class="container">

      <div class="content is-medium" >
        <h1 class="title is-4">Arduino Uno Mircocontroller Board with USB Cable</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
      </div>

      <nav class="level is-mobile">
        <div class="level-item">
          <div class="level-item">
            <p class="subtitle is-4">
              <strong>₹123</strong>
            </p>
          </div>
        </div>
        <div class="level-item">
          <p class="level-item"><a class="button is-warning">Add to Cart</a></p>
        </div>
      </nav>
      <div class="content delinfo">
        Delivery in 3-4 days to Metro Cities (India)
      </p>
    </div>
  </div>
</section>

{% endblock %}
