<h2 class="title is-6" style="margin-top:40px;">Replacement Policy</h2>
<li>Free Replacement will be done to Faulty Shipments. Please contact within 3 days of order delivery.</li>
<h2 class="title is-6" style="margin-top:30px;">Cancellations, Refunds and Return Policy</h2>
<li>To keep selling quality products at low prices,</li>
<li>We do not support Cancellation, Refunds and Returns on the order</li>
<li>You can order through other market places which support them but charge you for it</li>
<h2 class="title is-6" style="margin-top:20px;">Quality Policy</h2>
<li>In any case you feel any doubts of the product quality and our claims, </li>
<li>Please reachout to <a style="color:blue;" href="mailto:support@noobtronics.ltd?Subject=Quality Issue" target="_top">support@noobtronics.ltd</a> </li>
<li>We will resolve it or issue you full refund if fault is found on our side</li>