<!DOCTYPE html>
<html lang="en">
<head>
    <title>Noobtronics Shop</title>
    {% include "header.html" %}
</head>
<body >
<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top -->
    {% include "hero-head.html" %}

    <!-- Hero content: will be in the middle -->
    <div class="hero-body" id="app">
        <div class="container shopcontainer">
            <div class="columns">
            <div class="column is-one-quarters">
                <aside class="menu">
                    <ul class="menu-list">
                        <form id="shopmenu">
                        <li><a v-on:click="change_menu(0, 0)" v-bind:class="{'is-active': menu_selected[0]==0}">All Products</a></li>
                        {{ data.tags.html | safe }}
                        </form>
                    </ul>
                </aside>
            </div>
            <div class="column is-three-quarters prodcolumn">
                <div v-for="p in products" class="card productcard is-shady" v-on:click="open_prod_page(p.slug)">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img v-bind:src="p.thumb" alt="Placeholder image">
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <p class="cardhead">[%p.name%]</p>

                    </footer>
                    <footer class="card-footer">
                        <p class="cardsubtitle">[%p.cardtitle%]</p>
                    </footer>
                    <footer class="card-footer ">
                        <h2 class="price">₹[%p.price%]<span class="mrpprice">&nbsp;₹[%p.mrp%]&nbsp;&nbsp;</span></h2>
                    </footer>
                </div>
                <nav class="pagination is-rounded" role="navigation" aria-label="pagination" v-if="total_pages>1">
                    <a class="pagination-previous" v-if="table_page > 1" v-on:click="change_page(table_page-1)">Previous</a>
                    <a class="pagination-next" v-if="table_page < total_pages" v-on:click="change_page(table_page+1)">Next page</a>
                    <ul class="pagination-list">
                        <li v-if="table_page>5"><span class="pagination-ellipsis">&hellip;</span></li>
                        <li v-for="p in get_pages()"><a class="pagination-link" v-bind:class="{'is-current': (table_page==p)}" v-bind:aria-label="'Goto page '+p" v-on:click="change_page(p)">[%p%]</a></li>
                        <li v-if="total_pages-table_page>5"><span class="pagination-ellipsis">&hellip;</span></li>
                    </ul>
                </nav>
            </div>
        </div>
        </div>
    </div>


        {% include "hero-footer.html" %}

<script>
    var products_data = {{ prod_data | safe}};

    var menu_data = {{data.tags_selected | safe}};
</script>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[%', '%]'],
        data: {
            products: products_data,
            menu_selected: menu_data,
            table_page: 1,
            total_pages: 2
        },
        methods :{
            change_menu: function(idx, val) {
                Vue.set(this.menu_selected, idx, val);
            },
            open_prod_page: function(slug){
                var url = '/product/'+slug;
                var win = window.open(url, '_blank');
                win.focus();
            },
            change_page: function(new_page){
                if(this.table_page != new_page){
                    this.table_page = new_page;
                }
            },
            min: function(a,b){
                if(a>=b){
                    return b;
                }
                return a;
            },
            max: function(a,b){
                if(a>=b){
                    return a;
                }
                return b;
            },
            get_pages: function(){
                var start_page = this.max(this.table_page-5, 1);
                var end_page = this.min(this.table_page+5, this.total_pages);
                var ls = [];
                for(var i=start_page; i <= end_page; i++){
                    ls.push(i);
                }
                return ls;
            }
        }
    });
</script>
</section>
</body>
</html>